body {
  margin: 0px;
  font-family: "Rubik", sans-serif;
}
.container {
  display: flex;
  height: 910px;
}

.mainBody {
  width: 1700px;
  /* background-color: red; */
}

/* SideNav  */
.sideNav {
  background-color: #f6f4ff;
  width: 250px;
  position: relative;
}
.title_sideNavCont {
  margin: 10px;
  display: flex;
  gap: 15px;
  align-items: center;
  line-height: 2px;
}

.userImg_SideNav {
  height: 44px;
  width: 44px;
}
.name_sideNav {
  font-weight: 800;
  color: #1e0c42;
  font-size: 15px;
}
.role_sideNav {
  font-size: 8px;
  color: #707070;
}
.navItems_cont {
  margin-top: 25px;
}
.item {
  display: flex;
  background-color: #8371fb;
  width: 170px;
  height: 34px;
  align-items: center;
  gap: 13px;
  color: white;
  font-size: 12px;
  border-radius: 30px;
  margin-top: 10px;
  margin-right: 20px;
  cursor: pointer;
}
.NotEffectedItem {
  display: flex;
  width: 170px;
  height: 34px;
  align-items: center;
  color: #1e0c42;
  gap: 13px;
  font-size: 13px;
  border-radius: 30px;
  margin-top: 15px;
  margin-right: 20px;
  cursor: pointer;
}

.itemIcon {
  margin-right: 20px;
}

.bottom_SideNav {
  position: absolute;
  bottom: 0px;
  display: flex;
}
.whiteCircle {
  position: absolute;
  right: 20px;
  bottom: 20px;
  z-index: -1px;
}

.bottomLogo {
  position: absolute;
  right: 28px;
  bottom: 25px;
}
.logOutCont {
  display: flex;
  gap: 3px;
  align-items: center;
  bottom: 33px;
  right: 60px;
  position: absolute;
}
.logOut {
  font-size: 13px;
}
.bottomLine_SideNav {
  width: 200px;
  position: absolute;
  bottom: 70px;
  color: red;
}

/* End SideNav */

/* dashboard */
.dashboard {
  margin-top: 50px;
  margin-right: 50px;
}
.TitleDashboard_Cont {
  color: #1e0c42;
}

.topDashboard {
  display: flex;
  justify-content: space-between;
}
.TitleDashboard {
  font-weight: 800;
  line-height: 1px;
}
.smTitleDashboard {
  font-size: 10px;
}

.notificationDashboad {
  background-color: #8371fb;
  width: 230px;
  height: 35px;
  border-radius: 20px;
  margin: 20px;
  display: flex;
  align-items: center;
  gap: 15px;
  color: white;
}
.notifImg {
  margin-right: 10px;
  /* margin-top: 8px; */
}
.square {
  background-color: #9a92d4;
  width: 25px;
  height: 25px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.arrow {
  margin-right: 50px;
}
.notifName {
  font-size: 12px;
  font-weight: bold;
}
.cardsCont {
  display: flex;
  gap: 20px;
}
.cardCont {
  width: 383px;
  height: 170px;
  border-radius: 35px;
  border: 1px solid rgb(218, 214, 214);
}
.topCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px;
}
.cardTitle {
  font-weight: 800;
  font-size: 18px;
}

.pickedPeriod {
  width: 80px;
  height: 25px;
  border: 1px solid rgb(206, 201, 201);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.pickedPeriod > span {
  font-size: 13px;
}
.cardNumCont {
  display: flex;
  gap: 30px;
  margin: 30px;
  align-items: center;
  margin-top: -20px;
}
.cardNum {
  color: #45556c;
  font-weight: 900;
  font-size: 30px;
}
.statusNum {
  background-color: #ddffdf;
  width: 70px;
  height: 30px;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 40px;
  color: #2d8032;
  gap: 5px;
}

.circle {
  background-color: #ece9f8;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.statistic,
.statisticsCont {
  display: flex;
  align-items: center;
  gap: 5px;
}
.statistic > span {
  font-size: 12px;
}

.statisticsCont {
  margin-top: -15px;
  margin-right: 20px;
  gap: 15px;
}

.blueBg {
  background-color: #e7f5f7 !important;
}
.greenBg {
  background-color: #e7faec !important;
}

.yellowBg {
  background-color: #f7f3e3 !important;
}

.redBg {
  background-color: #fce9e9 !important;
}

.statusNumRedBg {
  background-color: #f5e0e8;
}

.bodyContentCont {
  border: 1px solid rgb(206, 201, 201);
  width: 1600px;
  height: 550px;
  border-radius: 35px;
  margin-top: 30px;
}
.bodyContentInnerCont {
  margin: 30px;
}
.titleBodyContent {
  font-weight: 900;
}

.topBodyContent {
  display: flex;
  align-items: center;
  gap: 20px;
}
.searchInp {
  width: 200px;
  background-image: url("./assets/images/search\ \(12\).png");
  background-repeat: no-repeat;
  background-position: 10px;
}
.clientsTable {
  width: 1300px;
}
.tableTitles {
  color: #45556c;
  font-size: 12px;
  opacity: 0.6;
}
.tableRows {
  height: 40px;
}

.IconTitleBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 20px;
  height: 30px;
  font-size: 13px;
  padding: 0px 5px;
}

.leadBtn {
  background-color: #f0eaea;
  width: 40%;
}
.leadsTitile {
  font-weight: 600;
}
.graphBtnCont {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: center;
}
.leadNum {
  font-size: 18px;
  margin-bottom: 30px;
  margin-top: 10px;
}
.quotationBtn {
  color: #3cb2be;
  background-color: #e5f2f3;
  border: 1px solid #3cb2be;
  padding: 0px 10px;
}
.archinBtn {
  color: #44ba66;
  background-color: #edf8f0;
  padding: 0px 10px;
}
.materialBtn {
  color: #b9a02d;
  background-color: #fffdf4;
  padding: 0px 10px;
}

.manufacBtn {
  color: #ba2526;
  background-color: #fff4f4;
  padding: 0px 10px;
}
.deliveryBtn {
  color: #8370fb;
  background-color: #f6f4ff;
  padding: 0px 10px;
}
.LeadbtnCon {
  margin-right: -60px;
}
.quotationbtnCon {
  margin-right: -20px;
}
.archibtnCon {
  margin-right: 10px;
}
.materialbtnCon {
  margin-right: 10px;
}
.manufbtnCon {
  margin-right: 50px;
}

/* End Dashboard */

/*Start Customers  */

.backbtn {
  background-color: #dbd6f1;
  border-radius: 30px;
  width: 130px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}
.customers {
  margin: 40px;
}

.customerBtn {
  background-color: #dbd6f1;
  border-radius: 30px;
  width: 100%;
  max-width: 130px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  color: white;
}
.customerBtnPicked {
  background-color: #def1f3;
  color: #3cb2be;
  border: 1px solid #3cb2be;
}
.CustomerPageBtns {
  display: flex;
  gap: 10px;
}
.firstContent {
  display: flex;
  justify-content: space-around;
  height: 650px;
  gap: 50px;
  margin-top: 30px;
}
.title_customerPage {
  font-weight: 800;
  margin: 30px;
}
.rightSide {
  width: 35%;
  border-radius: 35px;
  border: 1px solid #e1d1f0;
}
.leftSide {
  width: 50%;
  border-radius: 35px;
  /* border: 1px solid #3cb2be */
}
.summarizeMoney {
  height: 300px;
  border: 1px solid #ded2f5;
  border-radius: 35px;
  width: 550px;
}
.checkList {
  height: 300px;
  border: 1px solid #e1d1f0;
  border-radius: 35px;
  width: 550px;
  margin-top: 30px;
}
.aa {
  width: 10%;
}
.customerBtnSize {
  color: #a298b6;
  margin-right: 20px;
  background-color: #f8f1ff;
}
.topSpecifBegin {
  display: flex;
  align-items: center;
  gap: 15px;
}
.pickCheckBox {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.costCont {
  margin: 30px;
  width: 80%;
  height: 90px;
  border-radius: 20px;
  background-color: #eae7f5;
  position: relative;
}

.costInner {
  /* background-color: red; */
  width: 100px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.costInnerTxt {
  background-color: #d6d0ff;
  padding: 4px 8px;
  font-size: 12px;
  border-radius: 20px;
  color: #9585fa;
}
.costInnerTxtHelp {
  position: absolute;
  top: 10px;
  right: 20px;
}
.costNum {
  margin: 13px;
}
.costNumF {
  font-size: 20px;
  font-weight: 800;
  color: #8371fb;
}
.costNumS {
  margin-right: 5px;
  color: #45556c;
  font-size: 14px;
}

.goLeft {
  position: absolute;
  top: -10px;
  right: 30px;
  /* top: 50px; */
  /* right: 20px; */
}
.ax {
  position: relative;
}

.goBottom {
  position: absolute;
  top: 30px;
  right: 30px;
}
.goBottomExtra {
  margin-top: 70px;
}
.goBottomExtra2 {
  margin-top: 140px;
}
.goBottomExtra3 {
  margin-top: 210px;
}
.goBottomExtra4 {
  margin-top: 280px;
}
.imprName {
  font-size: 15px;
  font-weight: 700;
  color: #1e0c42;
}

.miniText {
  font-size: 12px;
  font-weight: normal;
  color: #8c849b;
}
.improNum {
  margin-right: 40px;
  font-size: 23px;
  font-weight: 600;
  color: #8371fb;
}

.topSumMoney {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.circleRight {
  margin-left: 20px;
}

.sumMoneyContent {
  margin: auto auto;
  width: 400px;
  height: 100px;
  border-radius: 25px;
  background-color: #ebf8fa;
}

.baseCostCont {
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
  font-size: 14px;
}
.priceLine {
  width: 80%;
  margin-top: 20px;
}
.BaseCostGreen {
  color: #3cb2be;
  font-weight: 600;
}

.checklistBody {
  margin-right: 30px;
}

.smTxt {
  font-size: 12px;
  color: #8f9caf;
}

.checkboxCont {
  margin-top: 20px;
}

.checkListBtn {
  background-color: #c2baf5;
  margin-top: 30px;
  width: 90%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  color: white;
  font-size: 13px;
  font-weight: 600;
}
/* End Customers */

/* Lead Popup */

.leadPopup {
  background-color: white;
  box-shadow: 30px 0 100px 0.5px rgba(198, 169, 241, 0.4);
  position: absolute;
  left: 0px;
  top: 0px;
  height: 910px;
  width: 600px;
  z-index: 1px;
  border-radius: 0px 70px 70px 0px;
}
.leadPopupCont {
  margin: 60px;
}
.topLeadPopupCont {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.IconAndTextBg {
  height: 35px;
  border-radius: 30px;
  background-color: #8370fb;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border: none;
  cursor: pointer;
  gap: 8px;
  font-size: 12px;
  font-weight: 600;
}
.IconAndTextBorder {
  height: 35px;
  border-radius: 30px;
  border: 1px solid #8370fb;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  cursor: pointer;
  gap: 8px;
  background-color: white;
  font-size: 12px;
  font-weight: 600;
}

.TitleTxt {
  font-size: 35px;
  margin-left: 35px;
}

.as {
  background-color: #ecf9fa;
  border: #3cb2be solid 1px;
  /* width: 200px; */
  padding: 4px 10px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #3cb2be;
  font-size: 11px;
}
.nowProcess {
  display: flex;
  gap: 10px;
  align-items: center;
}
.process {
  margin-top: 20px;
}

.rowLine {
  display: flex;
  align-items: center;
}
.navBtnsCont {
  margin-top: 20px;
  gap: 14px;
  background-color: #ede8f8;
  height: 30px;
  padding: 10px;
  border-radius: 30px;
  width: 350px;
  font-size: 14px;
}
.pickedInLeadPopup {
  background-color: white;
  padding: 7px;
  border-radius: 30px;
}
.topBodyLeadPopupCont {
  margin-top: 20px;
  border: 1px solid #d2c6e7;
  border-radius: 30px;
  height: 520px;
}

.topBodyLeadPopup {
  margin: 20px;
  gap: 15px;
}
.searchInpLeadPopUp {
  width: 120px !important;
}
.smFont {
  font-size: 10px;
  font-weight: unset;
  width: 200px !important;
}

.tasksLeadPopup {
  gap: 20px;
  margin-right: 15px;
  margin-top: 25px;
}
.gapTen {
  gap: 10px;
}

.greenTxt {
  color: #46ba66 !important;
}
.redTxt {
  color: #ba2526 !important;
}
.yellowTxt {
  color: #b9a02d !important;
}

.missionType {
  background-color: #f3f0e1;
  color: #b9a02d;
  height: 20px !important;
  border-radius: 7px;
  padding: 1px 10px;
}

.tasksLeadPopupDone {
  background-color: #eae7fd;
  width: 90%;
  border-radius: 20px;
  padding: 10px 0px;
}

.missionDone {
  text-decoration: line-through;
}
/*End Lead Popup */

/* architech plan */

.imgUplaodCont {
  background-color: #f6f4ff;
  height: 200px;
  width: 80%;
  margin: auto auto;
  border-radius: 20px;
  margin-bottom: 30px;
  display: flex;
}
.uploadCont {
  justify-content: center;
  align-items: center;
  margin: auto auto;
}
.uploadTxt {
  font-size: 13px;
  color: #45556c;
}
.uploadImg {
  margin-right: 60px;
  margin-bottom: 10px;
}
.versionsCont {
  margin-top: 50px;
  margin-right: 30px;
}
.versionCont {
  background-color: #f6f4ff;
  margin-top: 15px;
  height: 60px;
  border-radius: 17px;
  width: 90%;
}
.versionContentCont {
  display: flex;
  gap: 10px;
  align-items: center;
}
.versionCont {
  display: flex;
  align-items: center;
  gap: 10px;
}
.circlePurple {
  background-color: #b7aef3;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  margin-right: 10px;
}
.docImg {
  margin: auto auto;
}
.verTxt {
  font-size: 15px;
  font-weight: 600;
}
.verMiniTxt {
  font-size: 13px;
}

.downloadImg {
  margin-right: 170px;
}
.buttonEdit1 {
  margin-right: 130px;
  height: 20px;
  width: 130px;
}

.archiNote {
  margin: auto auto;
  width: 481px;
  height: 100px;
  border-radius: 25px;
  background-color: white;
  border: 1px solid #d6d0ff;
}

.baseNoteCont {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  padding-top: 10px;
  font-size: 14px;
}

.txtAvatar {
  margin-right: 10px;
}
.boldTxt {
  font-weight: 700;
  color: #45556c;
}
.topNote {
  gap: 10px;
}
.checkDone {
  background-color: #8371fb;
  height: 20px;
  border-radius: 20px;
  color: white;
  text-align: center;
  padding: 0px 10px;
  align-items: center;
}

.specTxt {
  color: #45556c;
  font-size: 10px;
}

.noteTxt {
  color: #1e0c42;
  font-size: 13px;
  margin-right: 10px;
}
/*End architech plan */
