.assets-main {
  direction: rtl;
  margin-top: 20px;
}
.building-row {
  background-color: white;
  height: 60px;
  border-radius: 50px;
  box-shadow: 1px 1px 10px #1082e04d;
  margin-top: 20px;
  padding: 20px;
  display: flex;
  width: 90%;
  gap: 30px;
}
.building-row > *:nth-child(3) {
  margin-right: 100px;
}
.building-img {
  width: 80px;
  height: 80px;
  margin: -10px;
}
.building_box_checkbox {
  width: 35px;
}
.main-table {
  display: flex;
  gap: 20px;
}
.building-name {
  color: #1c1678;
  font-size: 20px !important;
  font-weight: bold;
  cursor: pointer;
  max-width: 90px;
}
.bank-img {
  width: 25px;
  height: 25px;
}
.bank {
  display: flex;
  text-align: center;
  gap: 20px;
  margin-right: 200px;
}
.bank-name {
  font-size: 17px;
  font-weight: bold;
  color: #1c1678;
}

.bank-info {
  margin-top: -10px;
  color: #1c1678;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}
.copy-img {
  height: 35px;
}
.user-info-name {
  font-weight: bold;
  color: #1c1678;
  font-size: 18px;
}
.user-main {
  display: flex;
  gap: 10px;
}
.user-img {
  height: 28px;
  margin-top: 5px;
}
.user-fields-title {
  font-weight: bold;
  color: #1c1678;
  font-size: 14px;
}
.user-fields-title2 {
  color: #1c1678;
  font-size: 12px;
}
.card-btns {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  width: 300px;
}
.btns {
  display: flex;
  align-items: center;
  border: #1082e0 solid 1px;
  border-radius: 40px;
  margin-left: 20px;
  color: #1082e0;
  display: flex;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 2px;
  padding-right: 15px;
  width: 200px;
  margin-top: -2spx;
}
.btn1 {
  color: white;
  background-color: #1082e0;
}
.SideCardView {
  height: 1200px;
  width: 1000px;
  /* left: -8px; */
  /* top: -1px; */
  /* padding: 50px; */
  border-radius: 0% 100px 100px 0%;
  z-index: 10;
  background-color: white;
  box-shadow: 1px 1px 10px #1082e06b;
  position: fixed;
}
.cancel-btn {
  position: absolute;
  left: 20px;
}
.left-top-side {
  display: flex;
  gap: 20px;
  align-items: center;
}
.main-left {
  padding: 20px;
}
.title-edit {
  font-weight: bold;
  color: #1c1678;
}
.left-side-img {
  height: 60px;
}
.container-left-side {
  margin-right: 80px;
}
.address-title {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 30px;
}
.address-title > img {
  height: 30px;
}
.address-title > div {
  color: #1c1678;
  font-weight: bold;
  font-size: 25px;
}
.address-container {
  margin-top: 20px;
}
.field-name {
  margin-right: 10px;
}
.field-inp {
  width: 221px;
  height: 40px;
  border-radius: 20px;
  background-color: #e7f5ff;
  border: 0;
  text-align: right;
  direction: rtl;
  padding-right: 10px;
  margin-top: 5px;
}
.step-field {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}
.half {
  width: 140px;
  /* margin-left: 10px; */
}

.main-left {
  overflow-y: scroll;
  height: 800px;
}
.two3 {
  width: 470px;
}

.upload-step {
  width: 740px;
  height: 155px;
  border: 1px solid #1082e0;
  border-radius: 42px;
  margin: 94px 0px 0 auto;
  text-align: center;
  color: #1c1678;
  font-size: 20px;
  padding-top: 57px;
}
.upload-step > div {
  font-weight: bold;
  font-size: 25px;
}
.add_btn {
  width: 328px;
  height: 50px;
  border-radius: 23px;
  background-color: #1c1678;
  color: #fff;
  font-size: 20px;
  text-align: center;
  line-height: 45px;
  cursor: pointer;
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 20px;
}
.add_btn_cancel {
  width: 328px;
  height: 50px;
  border-radius: 23px;
  background-color: #fff;
  border: 1px solid #1082e0;
  color: #1082e0;
  font-size: 20px;
  text-align: center;
  line-height: 45px;
  cursor: pointer;
}
