.app-shell {
  min-height: 100vh;
}
.layout-body {
  position: relative;
}
.page-content {
  margin-right: 92px;
  padding: 16px;
}

.right-rail {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 92px;

  border-radius: 16px 0 0 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.app-shell {
  min-height: 100vh;
}
.layout-body {
  position: relative;
}
.page-content {
  margin-right: 92px;
  padding: 16px;
}

.right-rail {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 92px;
  border-radius: 16px 0 0 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
