.Manager-main {
  direction: rtl;
  width: 100%;
  height: 100%;
}
.top-side {
  margin-right: 150px;
  margin-top: 50px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.building-name {
  font-weight: bold;
  font-size: 30px;
}
.building-name-descrp {
  font-size: 20px;
}
.building-img {
  width: 90px;
  height: 90px;
}
.top-nav-buttons {
  width: 151px;
  height: 50px;
  border-radius: 29px;
  border: 1px solid #7976a2;
  color: #1c1678;
  font-size: 15px;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}
.top-nav-icons {
  width: 30px;
  height: 30px;
  margin-right: 15px;
}
.icon2 {
  width: 20px;
  height: 20px;
}
.heshbonot-btns {
  background-color: #1c1678;
  color: #fff;
}

.section {
  margin-top: 50px;
  /* margin-right: 1200px; */
  /* margin-right: 50px; */

  display: flex;
  gap: 20px;
  align-items: center;
}
.sec {
  /* margin-right: 100px; */
}
.borderDiv {
  border-bottom: 1px solid #7976a2;
  width: 1300px;
}
.sectionTitle {
  font-size: 25px;
  font-weight: bold;
  color: #1c1678;
}
.btn-approve-contact {
  width: 140px;
  height: 40px;
  border-radius: 20px;
  background-color: #e7f5ff;
  color: #1c1678;
  font-size: 15px;
  text-align: center;
  line-height: 40px;
  margin: 20px;
  font-weight: bold;
}
.sectionContent {
  display: flex;
  gap: 30px;
  align-items: flex-start;
}
.address-top {
}
.address-top {
  display: flex;
  align-items: center;
  gap: 10px;
}
.cols2 {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}
.bold-font {
  font-weight: bold;
}

.manager-container {
  height: 1009px;
  display: flex;
  justify-content: space-between;
  /* width: 95%; */
}
.marginTop {
  margin-top: 10px;
}
.xx {
  /* margin-right: 100px; */
}
.contact-section {
  margin-right: 200px;
  margin-top: 100px;
}
.contact-content-section {
  display: flex;
  align-items: flex-start;
  gap: 30px;
}
.marginTop20 {
  margin-top: 20px;
}
.right-menu {
  width: 200px;
}
.contact-table {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-right: 100px;
}
.table-row {
  width: 500px;
  height: 30px;
  background-color: #e7f5ff;
  border-radius: 15px;
  color: #1c1678;
  font-size: 15px;
  display: flex;
  line-height: 30px;
  font-weight: bold;
  /* margin-right: 10px; */
}
.table-row > div {
  margin-right: 20px;
}
.searchInp {
  width: 330px;
  height: 40px;
  background-color: #f2f7ff;
  border-radius: 30px;
  color: #1c1678;
  font-size: 15px;
  text-align: right;
  border: 0;
  padding-right: 10px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAAAXNSR0IArs4c6QAAAARzQklUCAgICHwIZIgAAAGhSURBVDhPpZNBTsJgEIVniqytMW2MkFBPANwAT0A5AXADN0p36soSN9wAOAG9gdzAegIxoYmhG1yjjq/F1tqWpGJX02b6/e9/84Yp9VQ0q8csbRJqEbNKImtimosojuffTdP90TtHxYlqGaWyzJi5IUQvAM2ZaSFCBkAtNNZExP3YcOd1bS/SwBAUQA7K8oiShfjC8+1JrlKSEb7L+4abaVgIqmgDF4Uh9Nny/Ht3l/yKdtlgUuZQ/Oz5w2ayj7ee0BhX6Ocpyfcw289VfeDgOg1vZRu7lGRgurVgEne5Gpqx2VVtsAYIE7F7hUHaYAQrukt/ePQD0i1cmW6XK/umKKiqW0HvNf6Jp46rWZgqTfdQ1IMiNaEo9KgOj86KKqrkefTXqZ0eX5lKSZmlp5zMUQ05Oi+Qo4cg+chR41eOEskOgoiDFCQ7u1OhEoXH4f6ROBh9JwOKYNg1B7tWx4kLIIN6jUmo+NkMky/yFOwfNqmNEycYUD82Oz+5Yn5v/yGAb9vtD7MW7iB8nQDYTcLiHBSdWNSXhu0NSiv7FyiGkZhf5Anf8vBX2C8AAAAASUVORK5CYII=);
  background-repeat: no-repeat;
  background-position: 10px;
  margin-top: 5px;
}
.picked-btn {
  background-color: #7976a2;
  color: #fff !important;
}
.expenses {
  margin-right: 140px;
  margin-top: 20px;
  display: flex;
  gap: 350px;
}
.expenses-name {
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #1c1678;
}
.expenses-btns {
  width: 108px;
  height: 32px;
  border: 1px solid #7976a2;
  color: #1c1678;
  font-size: 12px;
  border-radius: 29px;
  text-align: center;
  line-height: 32px;
  cursor: pointer;
  font-weight: bold;
}
.expenses-clear {
  color: #1c1678;
  font-size: 15px;
  width: 129px;
  height: 32px;
  border: 1px solid #1082e0;
  border-radius: 29px;
  text-align: center;
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 10px;
}
.year-invoice {
  gap: 10px;
  display: flex;
  align-items: center;
  text-align: center;
}
.year-control-img {
  cursor: pointer;
}
.invoicment-categories {
  display: flex;
  gap: 47px;
  margin-right: 118px;
  margin-top: 30px;
  color: #7976a2;
  font-size: 13px;
}
.current-exposes {
  color: #1c1678;
  font-size: 17px;
  margin-top: 30px;
  font-weight: bold;
}
.exposes-table {
  margin-right: 140px;
}
.clear-img {
  margin-right: 13px;
}
.extra-btns {
  width: 180px;
}
.expenses-first {
  display: flex;
  gap: 10px;
}
.table-row-container {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}
.table-row-exposes {
  width: 1330px;
  height: 30px;
  background-color: #e7f5ff;
  border-radius: 15px;
  color: #1c1678;
  font-size: 15px;
  display: flex;
  line-height: 30px;
  margin-top: 10px;
}
.input-outcome {
  width: 70px;
  height: 20px;
  background-color: #fff;
  border-radius: 29px;
  color: #1c1678;
  font-size: 12px;
  text-align: center;
  margin-top: 4px;
  margin-right: 2px;
  border: 0;
}
.select-inp {
  width: 90px;
}
.revenue {
  margin-top: 50px;
}

.revenue-items {
  display: flex;
  gap: 50px;
  color: #7976a2;
  font-size: 12px;
  margin-top: 20px;
  margin-right: 97px;
}
.meazan-row-name {
  /* margin-left: 45px; */
  margin-right: 45px;
  font-size: 12px;
  width: 280px;
}
.meazan-items {
  margin-right: 315px;
  gap: 54px;
}
.meazan-item {
  /* width: 71px; */
  height: 28px;
  border-radius: 16px;
  background-color: #dbffe2;
  color: #2a6435;
  padding-right: 8px;
  padding-left: 8px;
  margin-left: 5px;
  margin-top: 1px !important;
}
.red-meazan {
  background-color: #ffe2da;
}
.work-btn {
  margin-top: 15px;
}
.work-content {
  display: flex;
  align-items: start;
  justify-content: start;
}
.work-items {
  margin-right: 60px;
  max-width: 1210px;
  gap: 35px;
}
.row-content {
  display: flex;
  gap: 10px;
  margin-right: 20px;
  background-color: #e7f5ff;
  border-radius: 20px;
  margin-top: 10px;
}
.files-work {
  display: flex;
  gap: 10px;
  margin-right: 20px;
}
.reviews-work {
  margin-right: 20px;
}

.d {
  margin-right: 70px;
}
.e {
  margin-right: 50px;
}
.f {
  margin-right: 100px;
}
.g {
  margin-right: 80px;
}

.providers {
  display: grid;
  gap: 8px;
  padding-right: 12px;
}

.row {
  display: grid;
  grid-template-columns: 0.6fr 1fr 0.6fr 0.6fr 0.6fr 0.6fr 0.6fr 0.8fr 0.9fr 0.9fr 0.9fr 0.9fr;
  align-items: stretch;
  margin-right: 50px;
  width: 1500px;
  justify-items: center;
  margin-right: 50px;
  width: 1500px;
  padding: 7px;
}
.table-row-providers {
  background-color: #e7f5ff;
  border-radius: 20px;
}

.header {
  font-weight: 600;
  padding-bottom: 6px;
}
.ml {
  margin-left: 10px;
}
.cell {
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.payments-btns {
  display: flex;
  gap: 10px;
  margin: 10px;
  color: #fff;
  background-color: #1c1678;
  width: 151px;
  height: 50px;
  cursor: pointer;
  border-radius: 29px;
  justify-items: center;
  align-items: center;
  line-height: 50px;
}

.payments-btns-picked {
  color: #1c1678;
  border: 1px solid #1c1678;
  background-color: white;
  width: 151px;
  height: 45px;
}
.payment-imgs {
  width: 23px;
  height: 23px;
  margin-right: 20px;
}
.payment-container {
  display: flex;
  align-items: start;
}
.inpt-payment {
  width: 470px;
  height: 50px;
  background-color: #f2f7ff;
  font-size: 15px;
  background-image: url("../assets/search.png");
  background-repeat: no-repeat;
  background-position: 10px;
  border: 0;
  border-radius: 32px;
  text-align: right;
  padding-right: 10px;
}
.add-file-pay {
  width: 175px;
  height: 30px;
  border: 1px solid #1c1678;
  border-radius: 15px;
  color: #1c1678;
  font-size: 15px;
  text-align: center;
  line-height: 30px;
}
.dates-pay {
  width: 184px;
  height: 30px;
  background-color: #e7f5ff;
  border-radius: 19px;
  background-image: url("../assets//payments-dates.png");
  background-position: 90%;
  background-repeat: no-repeat;
  color: #1c1678;
  font-size: 15px;
  text-align: center;
  line-height: 30px;
}
.top-payment {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 10px;
  margin-right: 30px;
}
table {
  margin: 30px;
  width: 800px;
}
.payment-table-title {
  color: #7976a2;
  font-size: 12px;
}
.blue-bg {
  color: #1c1678;
  font-size: 15px;
  height: 30px;
  border-radius: 70px !important;
  background-color: #e7f5ff;
}
table > tr {
  font-size: 15px;
  height: 40px;
}
.files-content {
  margin: 30px;
  background-color: #e7f5ff;
  width: 1400px;
  padding-bottom: 10px;
  border-radius: 20px;
}
.files-btns-container {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 18px;
}
.files-btns {
  background-color: #7976a2;
  color: #fff;
  width: 116px;
  height: 31px;
  border-radius: 29px;
  background-color: #fff;
  color: #1c1678;
  font-size: 12px;
  text-align: center;
  line-height: 31px;
  cursor: pointer;
}
.files-btns-picked {
  background-color: #7976a2;
  color: #fff;
}
.special-files-btn {
  width: 116px;
  height: 31px;
  border-radius: 29px;
  font-size: 12px;
  text-align: center;
  line-height: 31px;
  background-color: unset;
  border: 1px solid #7976a2;
  color: #1c1678;
}
.files-doc-img {
  margin-right: 30px;
}
.files-container {
  display: flex;
  gap: 30px;
  margin: 30px;
}
.filter-name {
  color: #9e9cbe;
  font-size: 15px;
  margin-right: -20px;
}
.task-cards-container {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-right: 30px;
  margin-top: 30px;
}
.task-card {
  background-color: #e7f5ff;
  width: 401px;
  height: 677px;
  border-radius: 30px;
}
.tasks {
  margin-right: 30px;
  margin-top: 20px;
}
.task-title {
  margin-right: 20px;
  margin-bottom: 10px;
  font-size: 15px;
  color: #1c1678;
  font-weight: bold;
}
.task {
  width: 347px;
  height: 120px;
  border-radius: 27px;
  background-color: #fff;
  margin: 0 auto 25px;
  position: relative;
  top: 20px;
  box-shadow: 1px 1px 10px #2c7ec742;
}
.new-task-container {
  width: 347px;
  height: 299px;
  border: 1px solid #7976a2;
  border-radius: 27px;
  margin: 45px auto 0;
  position: relative;
}
.top-task {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 15px;
  /* margin: 20px; */
}
.task-icons {
  display: flex;
  align-items: center;
  gap: 10px;
}
.task-status {
  width: 71px;
  height: 28px;
  background-color: #dbffe2;
  border-radius: 16px;
  text-align: center;
  line-height: 28px;
  color: #2a6435;
  font-size: 12px;
  font-weight: bold;
}
.task-content {
  font-size: 17px;
  color: #1c1678;
  text-align: right;
  position: absolute;
  right: 25px;
  top: 56px;
  font-weight: bold;
}
.task_text_small {
  font-size: 12px;
  color: #7976a2;
  position: absolute;
  right: 25px;
  top: 85px;
}
.yellowBG {
  background-color: #fffdd5;
}
.redBG {
  background-color: #ffe2d8;
}

.blueBG {
  background-color: #d9eeff;
}
.new-task-title {
  color: #50586c;
  font-size: 17px;
  font-weight: bold;
}
.new-task-textarea {
  width: 290px;
  height: 127px;
  border-radius: 10px;
  border: 1px solid #b1b6bf;
  margin-right: 20px;
  text-align: right;
  direction: rtl;
  /* color: #b1b6bf; */
  font-size: 13px;
  padding: 5px;
  background-color: transparent;
  font-weight: bold;
}
.new-task-btns-cont {
  display: flex;
  gap: 20px;
  margin-top: 10px;
  margin-right: 10px;
}
.new-task-btn {
  width: 53px;
  height: 19px;
  border-radius: 16px;
  border: 1px solid #7976a2;
  color: #7976a2;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  line-height: 19px;
}
.add-task-btn {
  width: 174px;
  height: 30px;
  background-color: #1082e0;
  border-radius: 17px;
  font-size: 15px;
  color: #fff;
  text-align: center;
  line-height: 30px;
  margin: 20px auto 0;
}
.chat-container {
  display: flex;
  margin-right: 30px;
  margin-top: 30px;
}
.right-chat {
  height: 779px;
  width: 200px;
  margin-top: 50px;
}
.left-chat {
  background-color: #e7f5ff;
  width: 1048px;
  border-radius: 38px;
}
.chat-item {
  display: flex;
  align-items: center;
  gap: 15px;

  width: 267px;
  height: 49px;
  padding: 0px 10px;
  font-size: 15;
  border-radius: 25px;
  margin-top: 10px;
}
.chat-item-picked {
  background-color: #e7f5ff;
}
.chat-item-name {
  color: #1b1678;
  font-weight: bold;
}
.chat-item-name-sm {
  margin-top: 2px;
  font-size: 12px;
  font-weight: normal;
}
.top-chat-body-cont {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  margin-left: 30px;
  align-items: center;
  margin-top: 40px;
}
.chat-search-inp {
  width: 430px;
  height: 30px;
  border-radius: 29px;
  background-color: #f2f7ff;
  padding: 2px;
  background-image: url("../assets//search.png");
  background-repeat: no-repeat;
  background-position: 10px;
}
.chat-search-inp::placeholder {
  margin-right: 20px;
}

.sec-message-container {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-right: 20px;
  margin-top: 15px;
}
.sec-message {
  width: 347px;
  height: 80px;
  background-color: white;
  position: relative;
  border-radius: 20px;
  margin-top: 35px;
}
.chat_t {
  position: absolute;
  right: -22px;
  top: -21px;
}
.msg-title {
  color: #1b1678;
  font-size: 12px;
  text-align: right;
  position: absolute;
  right: 20px;
  margin-top: 14px;
  font-weight: bold;
}
.msg-time {
  margin-right: 10px;
  font-size: 10px;
  font-weight: normal;
}
.msg-body {
  position: absolute;
  top: 35px;
  right: 20px;
  font-size: 12px;
  width: 62%;
}
