.right-menu-container {
  margin: 2% 7%;
  margin-top: 20%;
  height: 95%;
  background: rgba(16, 130, 224, 1); /* solid blue */
  color: white;
  border-radius: 35px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  /* width: 70px; You can adjust width to match */
}
.menu-items-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  padding-bottom: 20%;
  justify-content: center;
  align-content: center;
}
.menu-item {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 17px 10px;
  border-radius: 25px;
  transition: background 0.3s ease, backdrop-filter 0.3s ease;
  cursor: pointer;
}
.menu-item:hover,
.picked {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  cursor: pointer;
}

.menu-item-img {
  margin-bottom: 10px;
  width: 27px;
  height: 27px;
}
.item-text {
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  color: white;
}
.menu-footer-container {
  position: absolute;
  bottom: 5%;
}
.span {
  margin-top: 5%;
}
a {
  text-decoration: none;
}
