/*Start Customers  */

.backbtn {
  background-color: #dbd6f1;
  border-radius: 30px;
  width: 130px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}
.customers {
  margin: 40px;
}

.customerBtn {
  background-color: #dbd6f1;
  border-radius: 30px;
  width: 100%;
  max-width: 130px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  font-size: 14px;
  color: white;
}
.customerBtnPicked {
  background-color: #def1f3;
  color: #3cb2be;
  border: 1px solid #3cb2be;
}

.customerBtnPickedYellow {
  background-color: #fffdf4;
  color: #b9a02d;
  border: 1px solid #b9a02d;
}
.CustomerPageBtns {
  display: flex;
  gap: 10px;
}
.firstContent {
  display: flex;
  justify-content: space-around;
  height: 650px;
  gap: 50px;
  margin-top: 30px;
}
.title_customerPage {
  font-weight: 800;
  margin: 30px;
}
.rightSide {
  width: 35%;
  border-radius: 35px;
  border: 1px solid #e1d1f0;
}
.leftSide {
  width: 50%;
  border-radius: 35px;
  /* border: 1px solid #3cb2be */
}
.summarizeMoney {
  height: 300px;
  border: 1px solid #ded2f5;
  border-radius: 35px;
  width: 550px;
}
.checkList {
  height: 300px;
  border: 1px solid #e1d1f0;
  border-radius: 35px;
  width: 550px;
  margin-top: 30px;
}
.aa {
  width: 10%;
}
.customerBtnSize {
  color: #a298b6;
  margin-right: 20px;
  background-color: #f8f1ff;
}
.topSpecifBegin {
  display: flex;
  align-items: center;
  gap: 15px;
}
.pickCheckBox {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.costCont {
  margin: 30px;
  width: 80%;
  height: 90px;
  border-radius: 20px;
  background-color: #eae7f5;
  position: relative;
}

.costInner {
  /* background-color: red; */
  width: 100px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.costInnerTxt {
  background-color: #d6d0ff;
  padding: 4px 8px;
  font-size: 12px;
  border-radius: 20px;
  color: #9585fa;
}
.costInnerTxtHelp {
  position: absolute;
  top: 10px;
  right: 20px;
}
.costNum {
  margin: 13px;
}
.costNumF {
  font-size: 20px;
  font-weight: 800;
  color: #8371fb;
}
.costNumS {
  margin-right: 5px;
  color: #45556c;
  font-size: 14px;
}

.goLeft {
  position: absolute;
  top: -10px;
  right: 30px;
  /* top: 50px; */
  /* right: 20px; */
}
.ax {
  position: relative;
}

.goBottom {
  position: absolute;
  top: 30px;
  right: 30px;
}
.goBottomExtra {
  margin-top: 70px;
}
.goBottomExtra2 {
  margin-top: 140px;
}
.goBottomExtra3 {
  margin-top: 210px;
}
.goBottomExtra4 {
  margin-top: 280px;
}
.imprName {
  font-size: 15px;
  font-weight: 700;
  color: #1e0c42;
}

.miniText {
  font-size: 12px;
  font-weight: normal;
  color: #8c849b;
}
.improNum {
  margin-right: 40px;
  font-size: 23px;
  font-weight: 600;
  color: #8371fb;
}

.topSumMoney {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.circleRight {
  margin-left: 20px;
}

.sumMoneyContent {
  margin: auto auto;
  width: 400px;
  height: 100px;
  border-radius: 25px;
  background-color: #ebf8fa;
}

.baseCostCont {
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
  font-size: 14px;
}
.priceLine {
  width: 80%;
  margin-top: 20px;
}
.BaseCostGreen {
  color: #3cb2be;
  font-weight: 600;
}

.checklistBody {
  margin-right: 30px;
}

.smTxt {
  font-size: 12px;
  color: #8f9caf;
}

.checkboxCont {
  margin-top: 20px;
}

.checkListBtn {
  background-color: #c2baf5;
  margin-top: 30px;
  width: 90%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  color: white;
  font-size: 13px;
  font-weight: 600;
}
/* End Customers */

/* Lead Popup */

.leadPopup {
  background-color: white;
  box-shadow: 30px 0 100px 0.5px rgba(198, 169, 241, 0.4);
  position: absolute;
  left: 0px;
  top: 0px;
  height: 910px;
  width: 600px;
  z-index: 1px;
  border-radius: 0px 70px 70px 0px;
}
.leadPopupCont {
  margin: 60px;
}
.topLeadPopupCont {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.IconAndTextBg {
  height: 35px;
  border-radius: 30px;
  background-color: #8370fb;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border: none;
  cursor: pointer;
  gap: 8px;
  font-size: 12px;
  font-weight: 600;
}
.IconAndTextBorder {
  height: 35px;
  border-radius: 30px;
  border: 1px solid #8370fb;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  cursor: pointer;
  gap: 8px;
  background-color: white;
  font-size: 12px;
  font-weight: 600;
}

.TitleTxt {
  font-size: 35px;
  margin-left: 35px;
}

.as {
  background-color: #ecf9fa;
  border: #3cb2be solid 1px;
  /* width: 200px; */
  padding: 4px 10px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #3cb2be;
  font-size: 11px;
}
.nowProcess {
  display: flex;
  gap: 10px;
  align-items: center;
}
.process {
  margin-top: 20px;
}

.rowLine {
  display: flex;
  align-items: center;
}
.navBtnsCont {
  margin-top: 20px;
  gap: 14px;
  background-color: #ede8f8;
  height: 30px;
  padding: 10px;
  border-radius: 30px;
  width: 350px;
  font-size: 14px;
}
.pickedInLeadPopup {
  background-color: white;
  padding: 7px;
  border-radius: 30px;
}
.topBodyLeadPopupCont {
  margin-top: 20px;
  border: 1px solid #d2c6e7;
  border-radius: 30px;
  height: 520px;
}

.topBodyLeadPopup {
  margin: 20px;
  gap: 15px;
}
.searchInpLeadPopUp {
  width: 120px !important;
}
.smFont {
  font-size: 10px;
  font-weight: unset;
  width: 200px !important;
}

.tasksLeadPopup {
  gap: 20px;
  margin-right: 15px;
  margin-top: 25px;
}
.gapTen {
  gap: 10px;
}

.greenTxt {
  color: #46ba66 !important;
}
.redTxt {
  color: #ba2526 !important;
}
.yellowTxt {
  color: #b9a02d !important;
}

.missionType {
  background-color: #f3f0e1;
  color: #b9a02d;
  height: 20px !important;
  border-radius: 7px;
  padding: 1px 10px;
}

.tasksLeadPopupDone {
  background-color: #eae7fd;
  width: 90%;
  border-radius: 20px;
  padding: 10px 0px;
}

.missionDone {
  text-decoration: line-through;
}
/*End Lead Popup */

/* architech plan */

.imgUplaodCont {
  background-color: #f6f4ff;
  height: 200px;
  width: 80%;
  margin: auto auto;
  border-radius: 20px;
  margin-bottom: 30px;
  display: flex;
}
.uploadCont {
  justify-content: center;
  align-items: center;
  margin: auto auto;
}
.uploadTxt {
  font-size: 13px;
  color: #45556c;
}
.uploadImg {
  margin-right: 60px;
  margin-bottom: 10px;
}
.versionsCont {
  margin-top: 50px;
  margin-right: 30px;
}
.versionCont {
  background-color: #f6f4ff;
  margin-top: 15px;
  height: 60px;
  border-radius: 17px;
  width: 90%;
}
.versionContentCont {
  display: flex;
  gap: 10px;
  align-items: center;
}
.versionCont {
  display: flex;
  align-items: center;
  gap: 10px;
}
.circlePurple {
  background-color: #b7aef3;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  margin-right: 10px;
}
.docImg {
  margin: auto auto;
}
.verTxt {
  font-size: 15px;
  font-weight: 600;
}
.verMiniTxt {
  font-size: 13px;
}

.downloadImg {
  margin-right: 170px;
}
.buttonEdit1 {
  margin-right: 130px;
  height: 20px;
  width: 130px;
}

.archiNote {
  margin: auto auto;
  width: 481px;
  height: 100px;
  border-radius: 25px;
  background-color: white;
  border: 1px solid #d6d0ff;
}

.baseNoteCont {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  padding-top: 10px;
  font-size: 14px;
}
.bgRed {
  background-color: red;
}
.txtAvatar {
  margin-right: 10px;
}
.boldTxt {
  font-weight: 700;
  color: #45556c;
}
.topNote {
  gap: 10px;
}
.checkDone {
  background-color: #8371fb;
  height: 20px;
  border-radius: 20px;
  color: white;
  text-align: center;
  padding: 0px 10px;
  align-items: center;
}

.specTxt {
  color: #45556c;
  font-size: 10px;
}

.noteTxt {
  color: #1e0c42;
  font-size: 13px;
  margin-right: 10px;
}

.customerBtnPickedArch {
  background-color: #f4fff7;
  border: 1px solid #46ba66;
  color: #46ba66;
}

/*End architech plan */
