.card-container {
  height: 550px;
  box-shadow: 0px 0px 10px 1px #6eb1bd;
  border-radius: 10%;
  flex: 1 1 calc(33.33% - 40px);
  max-width: calc(33.33% - 40px);
  margin-top: 20px;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}
.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-icon {
  font-size: 30px;
}

.search-inp {
  width: 400px;
  height: 30px;
  box-shadow: 0px 0px 10px 1px #6eb1bd;
  border: none;
  border-radius: 10px;
  margin-left: 10px;
}
.project-name {
  display: flex;
  justify-content: center;
  text-decoration-line: underline;
}
.home-title {
  display: flex;
  justify-content: center;
  background: linear-gradient(to right, rgb(146, 205, 233), rgb(228, 65, 65));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}
.home-title-wrapper {
  display: flex;
  justify-content: center;
}

.home-title-text {
  background: linear-gradient(to right, rgb(146, 205, 233), rgb(228, 65, 65));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  font-size: 72px;
  font-weight: bold;
}

.project-img {
  height: 200px;
  width: 450px;
  border-radius: 20px;
  margin-left: 80px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 10px 1px #745d5e;
  cursor: pointer;
}

.card-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.special {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 16px;
  cursor: pointer;
}
.key {
  font-size: 20px;
  font-weight: bold;
  color: rgba(54, 125, 143, 0.815);
}
